.principal {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    background-image: linear-gradient(141deg, white 0%, #ededed 51%, #d8d8d8 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    .centrar {
        width: 700px;
        height: 430px;
        padding: 20px;
    }
}

.botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: pink;
    i {
        font-size: 30px;
        cursor: pointer;
        transition: all 0.1s ease;
    }
    i:hover {
        font-size: 31px;
        transition: all 0.1s ease;
        cursor: pointer;
    }
}